.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.button_add {
    width: 350px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 75px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    background: #2b80ff;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    color: #ffffff;
    border-radius: 8px;
}


.button_add .links a {
    padding: 15px;
    transition: 700ms cubic-bezier(0.89, 0.03, 0.06, 1.5);
    color: #ffffff;
    text-align: center;
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
}

.button_add .links a:hover {
    color: #1875FF;
    transition-timing-function: ease-in-out !important;
    transition-delay: 1ms !important;
}

.button_add .links a:nth-child(5) {
    transition-delay: 55ms;
}

.button_add .links a:nth-child(4) {
    transition-delay: 110ms;
}

.button_add .links a:nth-child(3) {
    transition-delay: 165ms;
}

.button_add .links a:nth-child(2) {
    transition-delay: 220ms;
}

.button_add .links a:nth-child(1) {
    transition-delay: 275ms;
}

.button_add .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    height: 80px;
    position: absolute;
    top: 0em;
    left: 0em;
    background: #1875FF;
    transition: 1s cubic-bezier(0.89, 0.03, 0.06, 1.5);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.button_add .overlay a {
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 1;
    padding: 0;
    margin: auto;
    color: #ffffff !important;
    font-size: 20px;
}

.button_add:hover .links a {
    transform: scale(1);
    opacity: 1;
}

.button_add:hover .overlay {
    transform: translateX(-500px);
}

@-webkit-keyframes beat {
    to {
        transform: scale(1.4);
    }
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}



.links {
    width: 100%;
}

.links .etrans {
    padding-left: 15px;
    padding-right: 15px;
}

.health_Card {
    text-align: center;
}

.card-container {
    font-weight: bold;
    height: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    perspective: 1400px;
}


.card_fr {
    position: relative;
    height: 80px;
    border-radius: 10px;
    width: 100%;
}


.subtitle-des_healthcard {
  color: rgb(55, 55, 55);
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  word-spacing: 1px;
}

.wr_card_date {
  position: absolute;
  right: 1%;
  bottom: 5%;

}

.wr_card_date_1 {
  color: rgb(150, 150, 150);
  font-size: 10pt;
}



.front {
    display: flex;
    height: 100%;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.front {
    color: #000000;
    background: #ddeffe;
}


.text_ar:focus {
    outline: none;
}

.text_ar{
    resize: none;
}