<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.HbMapper">

	<select id="login" resultType="com.project.entity.Users">
		select * from users where id = #{id} and pw = #{pw}
	</select>
	
	<select id="care" resultType="com.project.entity.Health">
      select * from health where users_fk_id = #{id}
   </select>
	
	<select id="getUserList" resultType="com.project.entity.Users">
		select * from users where id !='admin'
	</select>
	
	<select id="userCom" resultType="com.project.entity.Community" 
	parameterType="com.project.entity.Users">
		select * from community where users_fk_id = #{id}
	</select>
	
</mapper>